@page "/"
@using PokeApiNet
@inject PokeApiClient PokeApiClient

<PageTitle>Pokédex</PageTitle>

<h1>Hello, Kanto!</h1>


@if (Pokemon?.Any() ?? false)
{
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pokemon in Pokemon)
        {
            <tr>
                <td>@pokemon.Name</td>
                <td>
                    <img src="@pokemon.Sprites.FrontDefault" alt="@pokemon.Name" />
                </td>
            </tr>
        }
        </tbody>
    </table>
}


@code {
    private List<Pokemon> Pokemon { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var pokemonList = await PokeApiClient.GetNamedResourcePageAsync<Pokemon>();
        foreach (var pokemon in pokemonList.Results)
        {
            Pokemon.Add(await PokeApiClient.GetResourceAsync<Pokemon>(pokemon.Name));
        }
        await base.OnInitializedAsync();
    }
}